<!DOCTYPE html>
<html lang="tr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<title>Vera Hotels & Resorts</title>
<link rel="stylesheet" type="text/css" href="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/css/advanced-slider-base.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/css/glossy-square-gray.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/css/style.css" media="screen" />

</head>
<body>

<header class="clearfix">
    <article>
        <h1 class="logo"><img src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/logo.png" alt="Vera Hotels & Resorts" /></h1>
    </article>
</header>

<section>
    <article>

        <div class="advanced-slider clearfix" id="responsive-slider">
            <ul class="slides">
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA AAAAAAAAA BBBBBB</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT BLAAAA AAAA</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
                <li class="slide">
                    <img class="image" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_big.jpg" alt=""/>
                    <img class="thumbnail" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/images/hotel-1_thumb.png" alt="<h1>VERA MARE RESORT</h1><h2>BELEK ANTALYA</h2>"/>
                </li>
            </ul>
        </div>

    </article>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/js/jquery.advancedSlider.min.js"></script>
<script type="text/javascript" src="../../../../../../Users/erhankayar/Yandex.Disk/Digital%20Hands/Vera%20Hotels/js/main.js"></script>

</body>
</html>